{% extends "layout.html" %}

{% block content %}
<div class="container">


  <div class="row">
    <div class="col-sm-12">
      <h1 class="display-4">Spotify Playlist Stats</h1>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 text-center">
        <div class="card text-white bg-dark mb-3 mx-auto" style="max-width: 80rem;">

            <div class="card-body">
                <h5 class="card-title">Login with Spotify, then click on one of your playlists to view statistics!</h5>
                <br>

                {% if user_info %}
                    {% if user_info['images'] %}
                        <img src="{{ user_info['images'][0]['url'] }}" class="img-fluid rounded-circle" style="max-height: 200px;" alt="User Profile Picture">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/spotify_icon.png') }}" class="img-fluid" style="max-height: 200px;" alt="Spotify Logo">
                    {% endif %}
                    <br><br>
                    <h5>Logged in as {{ user_info['display_name'] }}!</h5>
                    <div class="row justify-content-center">
                          <a class="btn btn-danger btn-sm" href="{{ url_for('playlist_info') }}?logout=true" role="button">Log out</a>
                    </div>
                    <br>
                {% else %}
                    <img src="{{ url_for('static', filename='images/spotify_icon.png') }}" class="img-fluid" style="max-height: 200px;" alt="Spotify Logo">
                    <br><br>
                {% endif %}

                <form role="form" method="POST">

                    <div class="form-group row justify-content-center">
                        <div class="col-xs-3">
                            {% if not access_token %}
                                <a class="btn btn-primary btn-lg" href="{{ auth_url }}" role="button">Login with Spotify</a>
                            {% endif %}
                        </div>
                    </div>

                    {% if playlist_stats %}

                        <div class="row justify-content-center">
                              <h2>"{{ playlist_stats['name'] }}" Track Averages:</h2>
                        </div>
                        <br>

                        <div class="row justify-content-center">
                            <div class="col-xs-3 my-auto">
                                <img src="{{ playlist_stats['cover_image'] }}" class="img-fluid rounded border" style="max-height: 180px;" alt="Playlist Cover Image">
                            </div>
                            <hr style="margin: 20px">
                            <div class="col-xs-3 my-auto">
                                <p class="card-text">
                                Length: {{ "%.2f" | format(playlist_stats['avg_track_length'] / 60000.0) }} min<br>
                                Popularity: {{ "%.2f" | format(playlist_stats['avg_popularity']) }}%<br>
                                Release Year: {{ playlist_stats['avg_release_year'] }}<br>
                                Explicitness: {{ "%.2f" | format(100 * playlist_stats['num_explicit'] / playlist_stats['num_tracks']) }}%<br>


                                Modality:
                                {% if playlist_stats['avg_modality'] >= 0.5 %}
                                Major ({{ "%.2f" | format(playlist_stats['avg_modality'] * 100) }}%)
                                {% else %}
                                Minor ({{ "%.2f" | format(100 - playlist_stats['avg_modality'] * 100) }}%)
                                {% endif %}<br>

                                Acousticness: {{ "%.2f" | format(playlist_stats['avg_acousticness'] * 100) }}%<br>
                                </p>
                            </div>
                            <hr style="margin: 20px">
                            <div class="col-xs-3 my-auto">
                                <p class="card-text">

                                Liveness: {{ "%.2f" | format(playlist_stats['avg_liveness'] * 100) }}%
                                {% if playlist_stats['avg_liveness'] >= 0.65 %}
                                - Mostly live! 👨‍🎤
                                {% endif %}<br>


                                Speechiness: {{ "%.2f" | format(playlist_stats['avg_speechiness'] * 100) }}%
                                {% if playlist_stats['avg_speechiness'] > 0.66 %}
                                - Spoken word?
                                {% elif playlist_stats['avg_speechiness'] <= 0.50 and playlist_stats['avg_speechiness'] >= 0.20 %}
                                - Rap?
                                {% endif %}<br>


                                Positiveness (Valence): {{ "%.2f" | format(playlist_stats['avg_valence'] * 100) }}%
                                {% if playlist_stats['avg_valence'] >= 0.65 %}
                                - Feel good playlist ☀️
                                {% elif playlist_stats['avg_valence'] <= 0.35%}
                                - Melancholy playlist 😔
                                {% endif %}<br>

                                Tempo: {{ "%.2f" | format(playlist_stats['avg_tempo']) }} BPM
                                {% if playlist_stats['avg_tempo'] >= 160 %}
                                - Fast!
                                {% endif %}<br>

                                Danceability: {{ "%.2f" | format(playlist_stats['avg_danceability'] * 100) }}%
                                {% if playlist_stats['avg_danceability'] >= 0.65 %}
                                - Very Danceable! 🕺🏻
                                {% endif %}<br>

                                Energy: {{ "%.2f" | format(playlist_stats['avg_energy'] * 100) }}%
                                {% if playlist_stats['avg_energy'] >= 0.65 %}
                                - High Energy! ⚡
                                {% endif %}<br>
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                              <h4>{{playlist_stats['num_tracks']}} total tracks</h4>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                              <a class="btn btn-primary btn-md" href="https://developer.spotify.com/documentation/web-api/reference/tracks/get-audio-features/" target="_blank" role="button">What do these words mean?</a>
                        </div>
                        <br><br>
                    {% endif %}


                    {% if user_playlists %}

                        <div class="row" style="line-height: 3.3">

                            {% for playlist in user_playlists %}

                                <div class="col-lg-3 col-md-4 col-sm-6 text-center">
                                    <button type="submit" class="btn" name="playlist_selection" value="{{ playlist['id'] }}" style="border: none; padding: 0;">
                                        <img src="{{ playlist['cover_image'] }}" class="img-fluid rounded" style="max-height: 180px;" alt="Playlist Cover Image">
                                    </button>
                                    {% if playlist['name'] | length > 22 %}
                                        <p class="card-text">{{ playlist['name'][:22] }} ...</p>
                                    {% else %}
                                        <p class="card-text">{{ playlist['name'] }}</p>
                                    {% endif %}
                                </div>

                            {% endfor %}
                        </div>
                    {% endif %}

                </form>



            </div>
        </div>

    </div>

  </div>

</div>


<br><br>
{% endblock %}
